<div id="netid">
  <%= form_tag("/sendauth", :method => "get") do %>
    <%= label_tag(:email_netid, "Enter netID:") %>
    <%= text_field_tag(:email_netid) %>
    <%= submit_tag("Email me!") %>
    <br />
    <br />
    <br />
  <% end %>
</div>
