.club {
    background: image-url('clubs.png');
    height: 100px;
    display: inline-block;
}

#terrace {
    width: 75px;
    background-position: 0 0;
}

#tower {
    width: 75px;
    background-position: -85px 0;
}

#cannon {
    width: 85px;
    background-position: -165px 0;
}

#quad {
    width: 85px;
    background-position: -251px 0; /*251 better than 255*/
}

#colonial {
    width: 95px;
    background-position: -345px 0;
}

#ivy {
    width: 95px;
    background-position: -445px 0;
}

#ti {
    width: 95px;
    background-position: -545px 0;
}

#cottage {
    width: 90px;
    background-position: -645px 0;
}

#cap {
    width: 75px;
    background-position: -740px 0;
}

#cloister {
    width: 60px;
    background-position: -820px 0;
}

#charter {
    width: 75px;
    background-position: -885px 0;
}

.faded {
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -o-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}